.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets



# Local History for Visual Studio Code
.cache/
.history/
node_modules/
.vscode/

# Built Visual Studio Code Extensions
*.vsix
.env
